<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korea.movie_reservation.dao.ReservationMapper">
	
    <insert id="insertReservation" parameterType="com.korea.movie_reservation.vo.ReservationVO">
        INSERT INTO reservation (
            customer_name,
            movie_id,
            seat_number,
            ticket_count,
            reservation_status
        ) VALUES (
            #{customerName},
            #{movieId},
            #{seatNumber},
            #{ticketCount},
            #{reservationStatus}
        )
    </insert>

    <update id="updateReservation" parameterType="com.korea.movie_reservation.vo.ReservationVO">
        UPDATE reservation
        SET 
            reservation_date = #{reservationDate},
            seat_number = #{seatNumber},
            ticket_count = #{ticketCount},
            reservation_status = #{reservationStatus}
        WHERE reservation_id = #{reservationId}
    </update>

    <select id="findReservationDetails" resultType="com.korea.movie_reservation.vo.ReservationVO">
        SELECT 
            r.reservation_id AS reservationId,
            r.customer_name AS customerName,
            r.movie_id AS movieId,
            m.movie_title AS movieTitle,
            m.movie_genre AS movieGenre,
            r.reservation_date AS reservationDate,
            r.seat_number AS seatNumber,
            r.ticket_count AS ticketCount,
            r.reservation_status AS reservationStatus,
            m.ticket_price AS ticketPrice,
            (m.ticket_price * r.ticket_count) AS totalPrice
        FROM reservation r
        INNER JOIN movie m ON r.movie_id = m.movie_id
    </select>

</mapper>